[Unit]
Description=Sonm auto-fan script for NVIDIA GPUs (see /etc/sonm/fan-control.cfg for options)
After=sonm-mon.service
BindTo=sonm-mon.service
Before=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/sonm-fan-control
Restart=always

[Install]
WantedBy=multi-user.target

