[Unit]
Description=Manually set fan speed to given value (/etc/sonm/fan-control.txt)
After=network-online.target
Before=multi-user.target
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/fan-control.sh

# starts only on system boot
Restart=never

[Install]
WantedBy=multi-user.target
